@{
    ViewData["Title"] = "Home Page";
    Layout = "Layouts/_Layout";
}

@section styles
{
<!-- builder:css -->
<!-- endbuilder:css -->
}

@section scripts
{
<!-- builder:js -->
<!-- endbuilder:js -->
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
