@{
    ViewData["Title"] = "Home Page";
    Layout = "Layouts/_Layout";
}

@section styles
{
<!-- builder:css -->
      <link href="dist/home.3ec10bae68cbf974dada.css" rel="stylesheet">
      <!-- endbuilder:css -->
}

@section scripts
{
<!-- builder:js -->
      <script defer src="dist/runtime~home.119c81f96f4a1712b7ae.js"></script>
<script defer src="dist/home.3ec10bae68cbf974dada.js"></script>
      <!-- endbuilder:js -->
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
