@font-face {
  font-family: "dt-iconfont";
  src: url('@front-end/assets/fonts/dt-iconfont.eot');
  src: url('@front-end/assets/fonts/dt-iconfont.eot?#iefix') format('eot'),
    url('@front-end/assets/fonts/dt-iconfont.woff2') format('woff2'),
    url('@front-end/assets/fonts/dt-iconfont.woff') format('woff'),
    url('@front-end/assets/fonts/dt-iconfont.ttf') format('truetype'),
    url('@front-end/assets/fonts/dt-iconfont.svg#dt-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.dt-iconfont{
  display: inline-block;
  font-family: "dt-iconfont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.dt-iconfont.icon-dt_activity:before { content: "\EA01" }
.dt-iconfont.icon-dt_arrow-down-circle:before { content: "\EA02" }
.dt-iconfont.icon-dt_arrow-down:before { content: "\EA03" }
.dt-iconfont.icon-dt_arrow-left-circle:before { content: "\EA04" }
.dt-iconfont.icon-dt_arrow-left:before { content: "\EA05" }
.dt-iconfont.icon-dt_arrow-right-circle:before { content: "\EA06" }
.dt-iconfont.icon-dt_arrow-right:before { content: "\EA07" }
.dt-iconfont.icon-dt_arrow-up-circle-1:before { content: "\EA08" }
.dt-iconfont.icon-dt_arrow-up-circle:before { content: "\EA09" }
.dt-iconfont.icon-dt_arrow-up:before { content: "\EA0A" }
.dt-iconfont.icon-dt_bookmark-1:before { content: "\EA0B" }
.dt-iconfont.icon-dt_bookmark:before { content: "\EA0C" }
.dt-iconfont.icon-dt_camera:before { content: "\EA0D" }
.dt-iconfont.icon-dt_check-circled-outline:before { content: "\EA0E" }
.dt-iconfont.icon-dt_check:before { content: "\EA0F" }
.dt-iconfont.icon-dt_chevron-down:before { content: "\EA10" }
.dt-iconfont.icon-dt_chevron-left:before { content: "\EA11" }
.dt-iconfont.icon-dt_chevron-right:before { content: "\EA12" }
.dt-iconfont.icon-dt_chevron-up:before { content: "\EA13" }
.dt-iconfont.icon-dt_clap:before { content: "\EA14" }
.dt-iconfont.icon-dt_close-circle:before { content: "\EA15" }
.dt-iconfont.icon-dt_close:before { content: "\EA16" }
.dt-iconfont.icon-dt_eye-off:before { content: "\EA17" }
.dt-iconfont.icon-dt_eye:before { content: "\EA18" }
.dt-iconfont.icon-dt_font-size-2:before { content: "\EA19" }
.dt-iconfont.icon-dt_font-size:before { content: "\EA1A" }
.dt-iconfont.icon-dt_headset:before { content: "\EA1B" }
.dt-iconfont.icon-dt_home-alt:before { content: "\EA1C" }
.dt-iconfont.icon-dt_link:before { content: "\EA1D" }
.dt-iconfont.icon-dt_mail:before { content: "\EA1E" }
.dt-iconfont.icon-dt_menu:before { content: "\EA1F" }
.dt-iconfont.icon-dt_message-square:before { content: "\EA20" }
.dt-iconfont.icon-dt_micro:before { content: "\EA21" }
.dt-iconfont.icon-dt_more-horizontal:before { content: "\EA22" }
.dt-iconfont.icon-dt_more-vertical:before { content: "\EA23" }
.dt-iconfont.icon-dt_search:before { content: "\EA24" }
.dt-iconfont.icon-dt_share:before { content: "\EA25" }
.dt-iconfont.icon-dt_trending-down:before { content: "\EA26" }
.dt-iconfont.icon-dt_trending-up:before { content: "\EA27" }
.dt-iconfont.icon-dt_user:before { content: "\EA28" }
.dt-iconfont.icon-dt_quit:before { content: "\EA2A" }
.dt-iconfont.icon-heart-beat:before { content: "\EA2B" }
.dt-iconfont.icon-prescription:before { content: "\EA2C" }
.dt-iconfont.icon-heart:before { content: "\EA2D" }
.dt-iconfont.icon-delete:before { content: "\EA2E" }
.dt-iconfont.icon-dt_open-in-window:before { content: "\EA3A" }
